.container{
    display: block;
}
.card-wrapper{
    border: 1px solid #dddddd;
    padding: 30px 50px;
    margin: 0px 15px;
}
.example-card {
    max-width: 500px;
    margin-bottom: 20px;
  }
  .mat-raised-button{
      width: 40%;
  }

  .mat-stroked-button{
    float: right;
    top: -64px;
    left: 180px;
    padding: 4px 40px !important;
  }
  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: #3f51b5 !important;
  }
 